<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/omambulancelogoforground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/omambulancelogoforground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SirenservicesInternal"
        tools:targetApi="31">
        <activity
            android:name=".activities.ViewBillActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DocumentViewerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ComplianceHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ServiceRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BillGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewTripActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditTripActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TripListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TripCreateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddServiceRecordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VehicleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VehicleListActivity"
            android:exported="false" />
        <activity
            android:name=".loginsignup.VehicleRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".dashboards.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".loginsignup.UserRegistation"
            android:exported="false" />
        <activity
            android:name=".loginsignup.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>